@import "tailwindcss";
@config "../tailwind.config.js"; 



@font-face {
  font-family: 'YourFont';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* ✅ This line fixes the FCP issue */
}


.vintage {
  font-family: 'YourFont', sans-serif;
}


/* navbar */
.shine-button {
  position: relative;
  overflow: hidden;
}

.shine-button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  transform: rotate(25deg);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
